<div class="details-section">
  <div class="details-item details-item--red">
    <mat-icon aria-label="Example home icon">equalizer</mat-icon>
    <div class="details-item__name">Level</div>
    <div class="details-item__value">{{ level.toUpperCase() }}</div>
  </div>

  <div class="details-item details-item--green">
    <mat-icon aria-label="Example home icon">timeline</mat-icon>
    <div class="details-item__name">Length</div>
    <div class="details-item__value">
      <span>{{ length }}</span>
      <span>km</span>
    </div>
  </div>

  <div class="details-item details-item--blue">
    <mat-icon aria-label="Example home icon">panorama</mat-icon>
    <div class="details-item__name">Type</div>
    <div class="details-item__value">{{ type.toUpperCase() }}</div>
  </div>

  <!-- <DetailsItem
      icon={() => <TimelineIcon class="details-item--red" />}
      name="Level"
      value={() => <>{level.toUpperCase()}</>}
    />
    <DetailsItem
      icon={() => <TimelineIcon class="details-item--green" />}
      name="Length"
      value={() => (
        <>
          <span>{length}</span>
          <span>km</span>
        </>
      )}
    />
    <DetailsItem
      icon={() => <TimelineIcon class="details-item--blue" />}
      name="Type"
      value={() => <>{type.toString().toUpperCase()}</>}
    /> -->
</div>
