* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerr {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
