:host {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.title-section {
  &__title {
    font-size: 1.6em;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}
