<div class="form-section">
  <label for="routeName">Name</label>
  <input v-model="name" placeholder="Name" id="routeName" />

  <label for="description">Description</label>
  <textarea
    v-model="description"
    id="description"
    placeholder="Description"
  ></textarea>

  <label for="length">Length in kilometers</label>
  <input
    type="number"
    v-model="length"
    placeholder="Length in kilometer"
    id="length"
  />

  <label for="level">An advanced level</label>
  <select id="level" v-model="level">
    <option disabled value="">Please select one</option>
    <option>Easy</option>
    <option>Hard</option>
    <option>Medium</option>
    <option>Ninja</option>
  </select>

  <label for="type">Type</label>
  <select id="type" v-model="type">
    <option disabled value="">Please select one</option>
    <option>Tourist</option>
    <option>Sport</option>
    <option>Enduro</option>
  </select>

  <label for="routeName">Link to map</label>
  <input v-model="url" placeholder="Link to map" id="url" />

  <button>Zapisz</button>
  <button>Anuluj</button>
</div>
