:host {
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.5em;
    background-color: #ffffff;
  }
  